@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 id="welcome" class="display-4" >Welcome <br> to Bookmi</h1>
    <h2 id="login-text">Login to get Started or</h2> <br /><br />
    <h3 id="create-account-link"><a href="https://localhost:44347/Identity/Account/Register">Create New Account</a></h3>

 </div>