@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<b>Collection of Personal Information</b>
<p>
    We do not collect any personal information from you unless you voluntarily provide it to us.
    However, you may be required to provide certain personal information to us when you decide to use certain products or services
    available on Bookmi. These may include a) Registering for an account on Bookmi. b) Signing up for special offers through service providers.
    c) Submitting credit card information to purchase products and services through Bookmi.

    We will use your information to, but not limited to, communication with you in relation to products or services you purchase through Bookmi.
</p>

<b>Children Under the Age of 13</b>
<p>
    Children under the age of 13 will not be eligible to purchase any products or services through Bookmi unless legal Parent or Guardian provides legal name and date of birth.
    An e-signature will be required moving forward if consumer is under the age of 13 and has consent from legal Parent or Guardian.
</p>
